body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;
  background-color: #E7E7DE;
}

h1 {
  font-family: "Satisfy", cursive;
}

li {
  list-style: none;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin: 10px;
  font-family: "Satisfy", cursive;
}

.todays-weather {
  text-align: center;
  
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #158596;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(23, 134, 150, 0.5)
}

.card {
  background-color: #E7E7DE;
  border: 1px solid rgb(203, 175, 135);
  box-shadow: 2px 2px rgba(124, 107, 83, 0.5);
}

.card-group {
  display: flex;
}

.card-text {
  font-size: 20px;
  font-weight: bolder;
}

.card-header {
  font-size: 18px;
  text-align: center;
}

#day1 {
  font-size: 100px;
}

.fa-sun {
  color: #f0a400;
  font-size: 60px;
  margin-bottom: 20px;
}

.fa-cloud-rain, .fa-bolt {
  font-size: 60px;
  color: #158596;
  margin-bottom: 20px;
}

.fa-cloud-sun, .fa-cloud {
  font-size: 60px;
  color:rgb(203, 175, 135);
  margin-bottom: 20px;
}

#currentButton {
  width: 150px;
  height: 40px;
  color: white;
}

.current-temp {
  font-size: 40px;
}

.jacket {
  font-size: 18px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -14px;
}

.date, .time {
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: -20px;
}